a.back-to-top {
    background-color: rgba(0,0,0,.5);
    bottom: 15px;
    display: none;
    padding: 4px 11px;
    position: fixed;
    right: 15px;
    border-radius:5px;
    color:#fff;
    text-decoration: none;
}

a.back-to-top:hover {
    background-color: rgba(0,0,0,.8)
}
